.detailsContainer{
    width: 700px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: wheat;
    text-align: center !important;
    position: absolute;
    top:50%;
    left : 50%;
    margin-left: -350px;
    margin-top: -250px;
    padding: 25px;
    border-radius: 10px;  
}

button{
    padding: 3px;
    border-radius: 5px;
    font-weight: bold;
    font-size: medium;
}

.detailsContainer a:visited{
    color: floralwhite;
}

.detailsContainer a{
    text-decoration: none;
}

