.detailsContainer{
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 28px;
    background: #39a24c;
    box-shadow:  -23px 23px 45px #205c2b, 
             23px -23px 45px #52e86d;
    color: wheat;
    text-align: center !important;
    position: absolute;
    top:50%;
    left : 50%;
    margin-left: -170px;
    margin-top: -200px;
    padding: 25px;
     
}
@media screen and (min-width: 700px) {
    .detailsContainer{
        width: 700px;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 28px;
        background: #39a24c;
        box-shadow:  -23px 23px 45px #205c2b, 
                 23px -23px 45px #52e86d;
        color: wheat;
        text-align: center !important;
        position: absolute;
        top:50%;
        left : 50%;
        margin-left: -350px;
        margin-top: -250px;
        padding: 25px;
         
    }
  }

button{
    padding: 7px;
    font-weight: bold;
    font-size: medium;
    border-radius: 10px;
    background: #39a24c;
    box-shadow:  -23px 23px 45px #205c2b, 
                 23px -23px 45px #52e86d;
    border: none !important;
    color: whitesmoke;
}

button:active{
    outline: none;
    box-shadow: inset -23px 23px 45px #205c2b, 
   inset 23px -23px 45px #52e86d;
}

.detailsContainer a:visited{
    color: rgb(255, 255, 255);
}

.detailsContainer a{
    color: floralwhite;
    text-decoration: none;
}

