.nav{
    display: flex;
    background-color:#1A1A1D;
    padding: 10px;
    justify-content: space-between ;
   
}
.nav>*{
    text-decoration: none;
    color : #C3073F;
    font-size: x-large;
    font-weight: bold;
}

