.nav{
    display: flex;
    background-color: #39a24c;
    padding: 10px;
    justify-content: space-between ;
   
}
.nav>*{
    text-decoration: none;
    color : whitesmoke;
    font-size: xx-large;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 15px;
}

